<h1>Welcome To The Page.</h1>
<h2>Personal Details:</h2>
<p>Name: {{firstname}} {{lastname}}</p>
<p>Age: {{age}}</p>
<p>Nationality: {{nationality}}</p>

 <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Mona_Lisa.jpg/1354px-Mona_Lisa.jpg" 
         alt="Mona Lisa"
         width="300" 
         height="400" />

        


<h1>Write Your Message Below:</h1>
<form method="" action="anotherurl">
    <textarea name='text' rows="25" cols="50"></textarea> 
    <br>
    <br>
    <input type="submit"/>
</form>